<h1 class="mt-4">Alta Nueva Orden de Compra</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active fst-italic">Listados</li>
    <li class="breadcrumb-item active fst-italic">Ordenes de Compra</li>
    <li class="breadcrumb-item ">Alta</li>
</ol>
<div class="card shadow mb-4">
    <div class="card-header">
        <i class="fas fa-building me-1"></i>
        Información Nueva Orden de Compra
    </div>
    <div class="card-body">
        <form #orderForm="ngForm" (ngSubmit)="formProcedure(orderForm)">
            <div class="form-row">
                <div class="form-group col-2">
                    <label for="input-numero" [ngClass]="{'text-danger':orderNum.invalid && (orderNum.dirty || orderNum.touched)}">Número Orden de Compra</label>
                    <input 
                        type="number" 
                        class="form-control" 
                        name="input-numero" 
                        id="input-numero" 
                        [(ngModel)]="orderFormInput.order_num"
                        #orderNum="ngModel" 
                        required
                        [ngClass]="{'border-danger-subtle bg-danger-subtle':orderNum.invalid && (orderNum.dirty || orderNum.touched)}"
                    >
                    <div *ngIf="orderNum.invalid && (orderNum.dirty || orderNum.touched)" class="alert alert-danger small ">
                        <div *ngIf="orderNum.errors?.['required']">Número de orden requerido.</div>
                    </div>
                </div>
                <div class="form-group col-2">
                    <label for="input-proveedor" [ngClass]="{'text-danger':provSelect.invalid && (provSelect.dirty || provSelect.touched)}">Proveedor</label>
                    <select 
                        class="form-select" 
                        name="input-proveedor" 
                        id="input-proveedor" 
                        [(ngModel)]="orderFormInput.prov_id"
                        (change)="changeProveedor()"
                        #provSelect="ngModel" 
                        required
                        [ngClass]="{'border-danger-subtle bg-danger-subtle':provSelect.invalid && (provSelect.dirty || provSelect.touched)}"
                        >
                        <option value="" selected disabled>Seleccione un proveedor</option>
                        <option *ngFor="let item of provList" value="{{item.cod}}">{{item.raz_social}}</option>
                    </select>
                    <div *ngIf="provSelect.invalid && (provSelect.dirty || provSelect.touched)" class="alert alert-danger small ">
                        <div *ngIf="provSelect.errors?.['required']">Proveedor requerido.</div>
                    </div>
                </div>
                <div class="form-group col-2">
                    <label for="input-direccion" [ngClass]="{'text-danger':orderAddress.invalid && (orderAddress.dirty || orderAddress.touched)}">Dirección</label>
                    <input 
                        type="text" 
                        class="form-control" 
                        name="input-direccion" 
                        id="input-direccion" 
                        [(ngModel)]="orderFormInput.address"
                        #orderAddress="ngModel" 
                        required
                        [ngClass]="{'border-danger-subtle bg-danger-subtle':orderAddress.invalid && (orderAddress.dirty || orderAddress.touched)}"
                    >
                    <div *ngIf="orderAddress.invalid && (orderAddress.dirty || orderAddress.touched)" class="alert alert-danger small ">
                        <div *ngIf="orderAddress.errors?.['required']">Dirección requerida.</div>
                    </div>
                </div>
                <div class="form-group col-3">
                    <label for="input-emision" [ngClass]="{'text-danger':emisionDate.invalid && (emisionDate.dirty || emisionDate.touched)}">Fecha Emisión</label>
                    <input 
                        type="date" 
                        class="form-control" 
                        name="input-emision" 
                        id="input-emision" 
                        [(ngModel)]="orderFormInput.emision"
                        (change)="emisionChange()"
                        required
                        #emisionDate="ngModel" 
                        required
                        [ngClass]="{'border-danger-subtle bg-danger-subtle':emisionDate.invalid && (emisionDate.dirty || emisionDate.touched)}"
                    >
                    <div *ngIf="emisionDate.invalid && (emisionDate.dirty || emisionDate.touched)" class="alert alert-danger small ">
                        <div *ngIf="emisionDate.errors?.['required']">Fecha de Emisión requerida.</div>
                    </div>
                </div>
                <div class="form-group col-3">
                    <label for="input-entrega" [ngClass]="{'text-danger':deliveryDate.invalid && (deliveryDate.dirty || deliveryDate.touched)}">Fecha Entrega Estimada</label>
                    <input 
                        type="date" 
                        class="form-control" 
                        name="input-entrega" 
                        id="input-entrega" 
                        [(ngModel)]="orderFormInput.entrega_estimada"
                        [min]="minDate"
                        required
                        #deliveryDate="ngModel" 
                        required
                        [ngClass]="{'border-danger-subtle bg-danger-subtle':deliveryDate.invalid && (deliveryDate.dirty || deliveryDate.touched)}"
                    >
                    <div *ngIf="deliveryDate.invalid && (deliveryDate.dirty || deliveryDate.touched)" class="alert alert-danger small ">
                        <div *ngIf="deliveryDate.errors?.['required']">Fecha de Entrega requerida.</div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="card w-100 ">
                    <div class="card-header">
                        <div>Productos de la orden</div>
                    </div>
                    <div class="card-body">
                        <table class="table table-hover text-center">
                            <thead>
                                <tr>
                                    <th>Producto</th>
                                    <th>Cantidad</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of orderFormInput.products">
                                    <td>{{item.prod_id|producto}}</td>
                                    <td>{{item.qty}}</td>
                                    <td><a class="btn btn-sm btn-danger" (click)="deleteOrderProduct(item.prod_id)"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                        <div *ngIf="orderFormInput.products.length==0" class="alert alert-danger text-center"><h5>Ingrese un producto a la orden.</h5></div>
                        <div class="form-row">
                            <div class="form-group col-8">
                                <label for="productSelect">Producto</label>
                                <select class="form-select " id="productSelect" name="productSelect" [(ngModel)]="selectedProduct">
                                    <option value="" selected disabled>Elija un producto</option>
                                    <option *ngFor="let item of prodList" value="{{item.cod_sku}}">{{item.name_prod}}</option>
                                </select>
                            </div>
                            <div class="form-group col-4">
                                <label for="productQty">Cantidad</label>
                                <input class="form-control" type="number" id="productQty" name="productQty" [(ngModel)]="selectedProductQty">
                            </div>
                            <a class="btn btn-sm btn-primary " (click)="addProductToOrder(selectedProduct,selectedProductQty)"><i class="fa fa-plus" aria-hidden="true"></i> Añadir a la orden</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-2">
                    <label for="input-total" [ngClass]="{'text-danger':orderTotal.invalid && (orderTotal.dirty || orderTotal.touched)}">Total</label>
                    <input 
                        type="number" 
                        class="form-control" 
                        name="input-total" 
                        id="input-total" 
                        [(ngModel)]="orderFormInput.total"
                        #orderTotal="ngModel" 
                        required
                        [ngClass]="{'border-danger-subtle bg-danger-subtle':orderTotal.invalid && (orderTotal.dirty || orderTotal.touched)}"
                    >
                    <div *ngIf="orderTotal.invalid && (orderTotal.dirty || orderTotal.touched)" class="alert alert-danger small ">
                        <div *ngIf="orderTotal.errors?.['required']">Total requerido.</div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-success fw-bold me-2" ><i class="fa fa-plus" aria-hidden="true"></i> Confirmar</button>
            <button type="reset" (click)="clearOrder()" class="btn btn-secondary  fw-bold me-2" ><i class="fa fa-arrow-rotate-left" aria-hidden="true"></i> Reiniciar</button>
            <button type="reset" routerLink="/productos" class="btn btn-danger fw-bold"><i class="fa fa-times" aria-hidden="true"></i> Cancelar</button>
        </form>
    </div>
    
</div>