<h1 class="mt-4">Alta Nuevo Producto</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active fst-italic">Listados</li>
    <li class="breadcrumb-item active fst-italic">Productos</li>
    <li class="breadcrumb-item ">Alta</li>
</ol>
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-building me-1"></i>
        Información Nuevo Producto
    </div>
    <div class="card-body shadow">
        <form #productForm="ngForm" (ngSubmit)="formProcedure()">
            <div class="form-row">
                <div class="form-group col-2">
                    <label for="input-codigo">Codigo</label>
                    <input type="number" class="form-control" name="input-codigo" id="input-codigo" [(ngModel)]="productFormInput.cod">
                </div>
                <div class="form-group col-2">
                    <label for="input-proveedor">Proveedor</label>
                    <select class="form-select" name="input-proveedor" id="input-proveedor" [(ngModel)]="productFormInput.prov_id">
                        <option *ngFor="let item of provList" value="{{item.cod}}">{{item.raz_social}}</option>
                    </select>
                </div>
                <div class="form-group col-2">
                    <label for="input-categoria">Categoría</label>
                    <input type="text" class="form-control" name="input-categoria" id="input-categoria" [(ngModel)]="productFormInput.cat">
                </div>
                <div class="form-group col-6">
                    <label for="input-product-name">Nombre Producto</label>
                    <input type="email" class="form-control" name="input-product-name" id="input-product-name" [(ngModel)]="productFormInput.name_prod">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-10">
                    <label for="input-desc">Descripción</label>
                    <input type="text" class="form-control" name="input-desc" id="input-desc" [(ngModel)]="productFormInput.desc">
                </div>
                <div class="form-group col-2">
                    <label for="input-precio">Precio</label>
                    <input type="text" class="form-control" name="input-precio" id="input-precio" [(ngModel)]="productFormInput.price">
                </div>
            </div>
            <button type="submit" class="btn btn-success fw-bold me-2" ><i class="fa fa-plus" aria-hidden="true"></i> Confirmar</button>
            <button type="reset" class="btn btn-secondary  fw-bold me-2" ><i class="fa fa-arrow-rotate-left" aria-hidden="true"></i> Reiniciar</button>
            <button type="reset" routerLink="/productos" class="btn btn-danger fw-bold"><i class="fa fa-times" aria-hidden="true"></i> Cancelar</button>
        </form>
    </div>
    
</div>
