<h1 class="mt-4">Listado de Proveedores</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active fst-italic">Listados</li>
    <li class="breadcrumb-item ">Proveedores</li>
</ol>
<div class="card mb-4 shadow">
    <div class="card-header" id="list-title">
        <i class="fas fa-building me-1"></i>
        Proveedores
    </div>
    <div class="card-body">
        <table class="table table-hover text-center align-middle " *ngIf="provList.length!=0">
            <thead>
                <tr>
                    <th>Logo</th>
                    <th>Código</th>
                    <th>Razón Social</th>
                    <th>Rubro</th>
                    <th>Dirección</th>
                    <th>Contacto</th>
                    <th>Datos Fiscales</th>
                    <th>Referencia Contacto</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of provList;index as i;">
                    <td><img src="{{item.logo_img_url}}" alt="Logo {{item.raz_social}}" style="height: 80px;"></td>
                    <td>{{item.cod}}</td>
                    <td>{{item.raz_social}}</td>
                    <td>{{item.rubro}}</td>
                    <td>{{item.address.country_id|country}}<br>
                        {{item.address.state_id|state}}<br>
                        {{item.address.street}}<br>
                        {{item.address.zip_code}}</td>
                    <td>{{item.contact.phone}}<br>
                        {{item.contact.email}}<br>
                        {{item.contact.website}}</td>
                    <td>{{item.datos_fiscales.cuit}}<br>
                        {{item.datos_fiscales.cod_condicion|condicion}}</td>
                    <td>{{item.ref_contact.name}}
                        {{item.ref_contact.surname}}<br>
                        {{item.ref_contact.email}}<br>
                        {{item.ref_contact.phone}}<br>
                        {{item.ref_contact.role}}</td>
                    <td>
                        <a class="btn btn-primary  me-2 btn-sm" routerLink="/proveedor/{{item.cod}}"><i class="fas fa-eye"></i></a>
                        <a class="btn btn-secondary me-2 btn-sm" routerLink="/form-proveedores/{{item.cod}}"><i class="fas fa-pencil"></i></a>
                        <a class="btn btn-danger btn-sm" (click)="deleteListItem(item.cod)"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="alert alert-danger fw-bold text-center h5" *ngIf="provList.length==0">Listado vacio, agregue un nuevo item.</div>
    </div>
</div>
<a class="btn btn-primary fw-bold btn-alta" routerLink="/form-proveedores"><i class="fa fa-plus" aria-hidden="true"></i> Alta</a>