<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <a class="nav-link" routerLink="/home">
                    <div class="sb-nav-link-icon"><i class="fas fa-home"></i></div>
                    Inicio
                </a>
                <div class="sb-sidenav-menu-heading">Listados</div>
                <a class="nav-link" routerLink="/productos">
                    <div class="sb-nav-link-icon"><i class="fas fa-shopping-bag"></i></div>
                    Productos
                </a>
                <a class="nav-link" routerLink="/proveedores">
                    <div class="sb-nav-link-icon"><i class="fas fa-building"></i></div>
                    Proveedores
                </a>
                <a class="nav-link" routerLink="/ordenes">
                    <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                    Ordenes de Compra
                </a>
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Logged in as:</div>
            Start Bootstrap
        </div>
    </nav>
</div>