<h1 class="mt-4">Alta Nuevo Producto</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active fst-italic">Listados</li>
    <li class="breadcrumb-item active fst-italic">Productos</li>
    <li class="breadcrumb-item ">Alta</li>
</ol>
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-building me-1"></i>
        Información Nuevo Producto
    </div>
    <div class="card-body shadow">
        <form #productForm="ngForm" (ngSubmit)="formProcedure(productForm)">
            <div class="form-row">
                <div class="form-group col-2 me-1">
                    <label for="input-sku-code" [ngClass]="{'text-danger':skuCode.invalid && (skuCode.dirty || skuCode.touched)}">Codigo SKU</label>
                    <input 
                        class="form-control" 
                        name="input-sku-code" 
                        id="input-sku-code" 
                        [(ngModel)]="productFormInput.skuCode" 
                        #skuCode="ngModel" 
                        minlength="4" 
                        required
                        [ngClass]="{'border-danger-subtle bg-danger-subtle':skuCode.invalid && (skuCode.dirty || skuCode.touched)}"
                    >
                    <div *ngIf="skuCode.invalid && (skuCode.dirty || skuCode.touched)" class="alert alert-danger small ">
                        <div *ngIf="skuCode.errors?.['required']">Codigo SKU requerido.</div>
                        <div *ngIf="skuCode.errors?.['minlength']">El largo del codigo debe ser 4 caracteres o más.</div>
                    </div>
                </div>
                <div class="form-group col-2 me-1">
                    <label for="input-supplier" [ngClass]="{'text-danger':supplierSelect.invalid && (supplierSelect.dirty || supplierSelect.touched)}">supplierSelect</label>
                    <select 
                        class="form-select" 
                        name="input-supplier" 
                        id="input-supplier" 
                        [(ngModel)]="productFormInput.supplier.id" 
                        required
                        minlength="1"
                        #supplierSelect="ngModel"
                        [ngClass]="{'border-danger-subtle bg-danger-subtle':supplierSelect.invalid && (supplierSelect.dirty || supplierSelect.touched)}"
                    >
                        <option value="" selected disabled>Seleccione un supplierSelect</option>
                        <option *ngFor="let item of provList" value="{{item.cod}}">{{item.raz_social}}</option>
                    </select>
                    <div *ngIf="supplierSelect.invalid && (supplierSelect.dirty || supplierSelect.touched)" class="alert alert-danger small ">
                        <div *ngIf="supplierSelect.errors?.['required']">supplierSelect requerido.</div>
                    </div>
                </div>
                <div class="form-group col-2">
                    <label for="input-category" [ngClass]="{'text-danger':category.invalid && (category.dirty || category.touched)}">
                        Categoría
                    </label>
                    <select 
                        class="form-select" 
                        name="input-category" 
                        id="input-category" 
                        [(ngModel)]="productFormInput.productCategory.id" 
                        required
                        minlength="1"
                        #category="ngModel"
                        [ngClass]="{'border-danger-subtle bg-danger-subtle':category.invalid && (category.dirty || category.touched)}"
                    >
                        <option value="" selected disabled>Seleccione una categoría</option>
                        <option *ngFor="let item of catList" value="{{item.id}}">{{item.name}}</option>
                    </select>
                    <div *ngIf="category.invalid && (category.dirty || category.touched)" class="alert alert-danger small ">
                        <div *ngIf="category.errors?.['required']">Categoría requerida.</div>
                    </div>
                </div>
                <div class="d-flex align-items-center justify-content-center me-1 flex-column ">
                    <div class="invisible" style="height:15px;" (click)="addCategoryModal()"><label>Add</label></div>
                    <a class="btn btn-sm btn-primary"><i class="fas fa-plus"></i></a>
                </div>
                <div class="form-group col-5">
                    <label for="input-product-name" [ngClass]="{'text-danger':productName.invalid && (productName.dirty || productName.touched)}">Nombre Producto</label>
                    <input 
                        type="email" 
                        class="form-control" 
                        name="input-product-name" 
                        id="input-product-name" 
                        [(ngModel)]="productFormInput.name" 
                        required
                        #productName="ngModel"
                        [ngClass]="{'border-danger-subtle bg-danger-subtle':productName.invalid && (productName.dirty || productName.touched)}"
                    >
                    <div *ngIf="productName.invalid && (productName.dirty || productName.touched)" class="alert alert-danger small">
                        <div *ngIf="productName.errors?.['required']">Nombre del producto requerido.</div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-9 me-1">
                    <label for="input-desc" [ngClass]="{'text-danger':description.invalid && (description.dirty || description.touched)}">Descripción</label>
                    <input 
                        type="text" 
                        class="form-control" 
                        name="input-desc" 
                        id="input-desc" 
                        [(ngModel)]="productFormInput.description" 
                        #description="ngModel" 
                        required
                        [ngClass]="{'border-danger-subtle bg-danger-subtle':description.invalid && (description.dirty || description.touched)}"
                    >
                    <div *ngIf="description.invalid && (description.dirty || description.touched)" class="alert alert-danger small">
                        <div *ngIf="description.errors?.['required']">Descripción requerida.</div>
                    </div>
                </div>
                <div class="form-group col-2">
                    <label for="input-precio" [ngClass]="{'text-danger':price.invalid && (price.dirty || price.touched)}">Precio</label>
                    <input 
                        type="text"
                        class="form-control" 
                        name="input-precio" 
                        id="input-precio" 
                        [(ngModel)]="productFormInput.price" 
                        #price="ngModel" 
                        required
                        [ngClass]="{'border-danger-subtle bg-danger-subtle':price.invalid && (price.dirty || price.touched)}"
                    >
                    <div *ngIf="price.invalid && (price.dirty || price.touched)" class="alert alert-danger small">
                        <div *ngIf="price.errors?.['required']">Precio requerido.</div>
                    </div>
                </div>
                <div class="form-group col-12">
                    <label for="input-img-url" [ngClass]="{'text-danger':img_url.invalid && (img_url.dirty || img_url.touched)}">URL Imagen</label>
                    <input 
                    type="text"
                    class="form-control" 
                    name="input-img-url" 
                    id="input-img-url" 
                    [(ngModel)]="productFormInput.imageUrl" 
                    #img_url="ngModel" 
                    required
                    [ngClass]="{'border-danger-subtle bg-danger-subtle':img_url.invalid && (img_url.dirty || img_url.touched)}"
                    >
                    <div *ngIf="img_url.invalid && (img_url.dirty || img_url.touched)" class="alert alert-danger small">
                        <div *ngIf="img_url.errors?.['required']">Imagen requerida.</div>
                    </div>
                    <div *ngIf="!img_url.invalid && (img_url.dirty || img_url.touched)">
                        <div>Imagen ingresada:</div>
                        <img src="{{img_url.value}}" alt="Error al cargar imagen." style="height: 200px;">
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-success fw-bold me-2" ><i class="fa fa-plus" aria-hidden="true"></i> Confirmar</button>
            <button type="reset" class="btn btn-secondary  fw-bold me-2" ><i class="fa fa-arrow-rotate-left" aria-hidden="true"></i> Reiniciar</button>
            <button type="reset" routerLink="/productos" class="btn btn-danger fw-bold"><i class="fa fa-times" aria-hidden="true"></i> Cancelar</button>
        </form>
    </div>
    
</div>
