<h1 class="mt-4">Listado de Productos</h1>
<ol class="breadcrumb mb-1">
    <li class="breadcrumb-item active fst-italic">Listados</li>
    <li class="breadcrumb-item ">Productos</li>
</ol>
<div>
    <a class="btn btn-primary fw-bold btn-alta shadow mb-2 me-2" routerLink="/form-productos"><i class="fa fa-plus" aria-hidden="true"></i> Alta</a>
    <a *ngIf="!mode" class="btn btn-success  fw-bold btn-alta shadow mb-2 me-2" (click)="loadList()"><i class="fa fa-eye" aria-hidden="true"></i> Ver Activos</a>
    <a *ngIf="mode" class="btn btn-secondary  fw-bold btn-alta shadow mb-2 me-2" (click)="loadDeletedList()"><i class="fa fa-eye-slash" aria-hidden="true"></i> Ver Inactivos</a>
</div>
<div class="card mb-4 shadow">
    <div class="card-header" id="list-title">
        <i class="fas fa-shopping-bag me-1"></i>
        Productos
    </div>
    <div class="card-body">
        <table class="table table-hover text-center align-middle " *ngIf="productList.length!=0">
            <thead>
                <tr>
                    <th>Imagen</th>
                    <th>Código SKU</th>
                    <th>Proveedor</th>
                    <th>Categoría</th>
                    <th>Nombre del Producto</th>
                    <th>Precio</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of productList;index as i;">
                        <td><img src="{{item.imageUrl||defaultImage}}" alt="Imagen {{item.name}}" style="height: 100px;"></td>
                        <td>{{item.skuCode}}</td>
                        <td>{{item.supplier.name}}</td>
                        <td>{{item.productCategory.name}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.price | currency : '$'}}</td>
                        <td>
                            <a class="btn btn-primary me-2 btn-sm" routerLink="/producto/{{item.id}}"><i class="fas fa-eye"></i></a>
                            <a class="btn btn-secondary me-2 btn-sm" routerLink="/form-productos/{{item.id}}"><i class="fas fa-pencil"></i></a>
                            <a *ngIf="item.deletedAt!=null" class="btn btn-sm btn-success" (click)="undoDeleteListItem(item.id)"><i class="fas fa-undo"></i></a>
                            <a *ngIf="item.deletedAt==null" class="btn btn-sm btn-danger" (click)="deleteListItem(item.id)"><i class="fas fa-trash"></i></a>
                        </td>
                </tr>
            </tbody>
        </table>
        <div class="alert alert-danger fw-bold text-center h5" *ngIf="productList.length==0">Listado vacio, agregue un nuevo item.</div>
    </div>
</div>
