<h1 class="mt-4">Detalle Orden Nº{{orderDetail.id}}</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active fst-italic">Listados</li>
    <li class="breadcrumb-item active fst-italic">Productos</li>
    <li class="breadcrumb-item ">Detalle</li>
</ol>
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-shopping-bag me-1"></i>
        Información Orden Nº {{orderDetail.id}}
    </div>
    <div class="card-body shadow">
        <div><span class="fw-bold ">Número de Orden:</span> {{orderDetail.id}}</div>
        <div><span class="fw-bold ">Estado:</span> {{orderDetail.order_state_id}}</div>
        <div><span class="fw-bold ">Proveedor:</span> {{orderDetail.supplier_id}}</div>
        <div><span class="fw-bold ">Dirección de entrega:</span> {{orderDetail.address}}</div>
        <div><span class="fw-bold ">Fecha de Emisión:</span> {{orderDetail.emision_date|date}}</div>
        <div><span class="fw-bold ">Fecha de Entrega Estimada:</span> {{orderDetail.estimated_delivery_date|date}}</div>
        <div><span class="fw-bold ">Fecha Entregada:</span> {{orderDetail.delivery_date|date}}</div>
        <div class="card col-4">
            <div class="card-header fw-bold ">Productos</div>
            <div class="card-body ">
                <table class="table table-hover text-center align-middle ">
                    <thead>
                        <tr>
                            <th>Producto</th>
                            <th>Cantidad</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of orderProducts">
                            <td>{{item.product_id}}</td>
                            <td>{{item.quantity}}</td>
                        </tr>
                    </tbody>
                </table>
                <div><span class="fw-bold ">Total:</span> {{orderDetail.total|currency:"$"}}</div>
            </div>
        </div>


        <a class="btn btn-danger m-2" (click)="cancelarOrden(orderDetail.id)"><i class="fas fa-times"></i>Cancelar Orden</a>
    </div>
</div>