<h1 class="mt-4">Detalle {{productDetail.name}}</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active fst-italic">Listados</li>
    <li class="breadcrumb-item active fst-italic">Productos</li>
    <li class="breadcrumb-item ">Detalle</li>
</ol>
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-shopping-bag me-1"></i>
        Información Producto {{productDetail.skuCode}}
    </div>
    <div class="card-body shadow">
        <div><span class="fw-bold ">Codigo SKU:</span> {{productDetail.skuCode}}</div>
        <div><span class="fw-bold ">Nombre Producto:</span> {{productDetail.name}}</div>
        <div><span class="fw-bold ">Categoría:</span> {{productDetail.productCategoryId}}</div>
        <div><span class="fw-bold ">Proveedor:</span> {{productDetail.supplierId}}</div>
        <div class="fw-bold ">Imagen del Producto:</div>
        <div><img src="{{productDetail.image_url}}" alt="" style="height: 300px;"></div>
        <div><span class="fw-bold ">Precio:</span> {{productDetail.price|currency:"$"}}</div>
        <div class="fw-bold ">Descripción:</div>
        <div>{{productDetail.description}}</div>
        <a class="btn btn-secondary me-2" routerLink="/form-productos/{{productDetail.id}}"><i class="fas fa-pencil"></i>Editar</a>
        <a class="btn btn-danger" (click)="deleteListItem(productDetail.id)"><i class="fas fa-trash"></i>Eliminar</a>
    </div>
</div>