<h1 class="mt-4">Alta Nueva Orden de Compra</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active fst-italic">Listados</li>
    <li class="breadcrumb-item active fst-italic">Ordenes de Compra</li>
    <li class="breadcrumb-item ">Alta</li>
</ol>
<div class="card shadow mb-4">
    <div class="card-header">
        <i class="fas fa-building me-1"></i>
        Información Nueva Orden de Compra
    </div>
    <div class="card-body">
        <form #orderForm="ngForm" (ngSubmit)="formProcedure(orderForm)">
            <div class="card form-row shadow mb-3 ">
                <div class="card-header">Datos de la orden</div>
                <div class="card-body d-flex justify-content-evenly ">
                <div class="form-group col-3">
                    <label for="input-supplier" [ngClass]="{'text-danger':supplierSelect.invalid && (supplierSelect.dirty || supplierSelect.touched)}">Proveedor</label>
                    <select 
                        class="form-select" 
                        name="input-supplier" 
                        id="input-supplier" 
                        [(ngModel)]="orderFormInput.supplier.id"
                        (change)="changeSupplier()"
                        #supplierSelect="ngModel" 
                        required
                        [ngClass]="{'border-danger-subtle bg-danger-subtle':supplierSelect.invalid && (supplierSelect.dirty || supplierSelect.touched)}"
                        >
                        <option value="undefined" selected disabled>Seleccione un proveedor</option>
                        <option *ngFor="let item of suppList" value="{{item.id}}">{{item.name}}</option>
                    </select>
                    <div *ngIf="supplierSelect.invalid && (supplierSelect.dirty || supplierSelect.touched)" class="alert alert-danger small ">
                        <div *ngIf="supplierSelect.errors?.['required']">Proveedor requerido.</div>
                    </div>
                </div>
                <div class="form-group col-2">
                    <label for="input-address" [ngClass]="{'text-danger':orderAddress.invalid && (orderAddress.dirty || orderAddress.touched)}">Dirección</label>
                    <input 
                        type="text" 
                        class="form-control" 
                        name="input-address" 
                        id="input-address" 
                        [(ngModel)]="orderFormInput.address"
                        #orderAddress="ngModel" 
                        required
                        [ngClass]="{'border-danger-subtle bg-danger-subtle':orderAddress.invalid && (orderAddress.dirty || orderAddress.touched)}"
                    >
                    <div *ngIf="orderAddress.invalid && (orderAddress.dirty || orderAddress.touched)" class="alert alert-danger small ">
                        <div *ngIf="orderAddress.errors?.['required']">Dirección requerida.</div>
                    </div>
                </div>
                <div class="form-group col-3">
                    <label for="input-emision-date" [ngClass]="{'text-danger':emisionDate.invalid && (emisionDate.dirty || emisionDate.touched)}">Fecha Emisión</label>
                    <input 
                        type="date" 
                        class="form-control" 
                        name="input-emision-date" 
                        id="input-emision-date" 
                        [(ngModel)]="orderFormInput.emisionDate"
                        (change)="emisionChange()"
                        required
                        #emisionDate="ngModel" 
                        required
                        [ngClass]="{'border-danger-subtle bg-danger-subtle':emisionDate.invalid && (emisionDate.dirty || emisionDate.touched)}"
                    >
                    <div *ngIf="emisionDate.invalid && (emisionDate.dirty || emisionDate.touched)" class="alert alert-danger small ">
                        <div *ngIf="emisionDate.errors?.['required']">Fecha de Emisión requerida.</div>
                    </div>
                </div>
                <div class="form-group col-3">
                    <label for="input-estimated-delivery-date" [ngClass]="{'text-danger':estimatedDeliveryDate.invalid && (estimatedDeliveryDate.dirty || estimatedDeliveryDate.touched)}">Fecha Entrega Estimada</label>
                    <input 
                        type="date" 
                        class="form-control" 
                        name="input-estimated-delivery-date" 
                        id="input-estimated-delivery-date" 
                        [(ngModel)]="orderFormInput.estimatedDeliveryDate"
                        [min]="minDate"
                        required
                        #estimatedDeliveryDate="ngModel" 
                        required
                        [ngClass]="{'border-danger-subtle bg-danger-subtle':estimatedDeliveryDate.invalid && (estimatedDeliveryDate.dirty || estimatedDeliveryDate.touched)}"
                    >
                    <div *ngIf="estimatedDeliveryDate.invalid && (estimatedDeliveryDate.dirty || estimatedDeliveryDate.touched)" class="alert alert-danger small ">
                        <div *ngIf="estimatedDeliveryDate.errors?.['required']">Fecha de Entrega requerida.</div>
                    </div>
                </div>
            </div>
            </div>
            <div class="form-row">
                <div class="card shadow mb-3 w-100 ">
                    <div class="card-header">
                        <div>Productos de la orden</div>
                    </div>
                    <div class="card-body">
                        <table class="table table-hover text-center">
                            <thead>
                                <tr>
                                    <th>Producto</th>
                                    <th>Cantidad</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of orderProdList">
                                    <td>{{item.productId}}</td>
                                    <td>{{item.quantity}}</td>
                                    <td><a class="btn btn-sm btn-danger" (click)="deleteOrderProduct(item.productId)"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                        <div *ngIf="orderProdList.length==0" class="alert alert-danger text-center"><h5>Ingrese un producto a la orden.</h5></div>
                        <div class="form-row d-flex justify-content-evenly ">
                            <div class="form-group col-7">
                                <label for="productSelect">Producto</label>
                                <select class="form-select " id="productSelect" name="productSelect" [(ngModel)]="selectedProduct">
                                    <option value="" selected disabled>Elija un producto</option>
                                    <option *ngFor="let item of suppProdList" value="{{item.id}}">{{item.name}}</option>
                                </select>
                            </div>
                            <div class="form-group col-2">
                                <label for="productQty">Cantidad</label>
                                <input class="form-control text-center " type="number" id="productQty" name="productQty" [(ngModel)]="selectedProductQty">
                            </div>
                            <div class="d-flex align-items-center"><a class="btn btn-sm btn-primary" (click)="addProductToOrder(selectedProduct,selectedProductQty)"><i class="fa fa-plus" aria-hidden="true"></i> Añadir a la orden</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-success shadow fw-bold me-2" ><i class="fa fa-plus" aria-hidden="true"></i> Confirmar</button>
            <button type="reset" (click)="clearOrder()" class="btn btn-secondary shadow fw-bold me-2" ><i class="fa fa-arrow-rotate-left" aria-hidden="true"></i> Reiniciar</button>
            <button type="reset" routerLink="/productos" class="btn btn-danger shadow fw-bold"><i class="fa fa-times" aria-hidden="true"></i> Cancelar</button>
        </form>
    </div>
    
</div>