<h1 class="mt-4">Listado de Proveedores</h1>

<ol class="breadcrumb mb-1">
    <li class="breadcrumb-item active fst-italic">Listados</li>
    <li class="breadcrumb-item ">Proveedores</li>
</ol>
<div class="">
    <a class="btn btn-primary fw-bold btn-alta shadow mb-2 me-2" routerLink="/form-proveedores"><i class="fa fa-plus" aria-hidden="true"></i> Alta</a>
    <a *ngIf="!activeMode" class="btn btn-success  fw-bold btn-alta shadow mb-2 me-2" (click)="loadList()"><i class="fa fa-eye" aria-hidden="true"></i> Ver Activos</a>
    <a *ngIf="activeMode" class="btn btn-secondary  fw-bold btn-alta shadow mb-2 me-2" (click)="loadDeletedList()"><i class="fa fa-eye-slash" aria-hidden="true"></i> Ver Inactivos</a>
    <a class="btn btn-outline-secondary fw-bold btn-alta shadow mb-2 me-2" (click)="toggleFilter()"><i class="fa fa-filter" aria-hidden="true"></i> Filtrado</a>
</div>
<div #collapse="ngbCollapse" [(ngbCollapse)]="!filteringMode">
    <form>
        <div class="row">
            <div class="col-4">
                <label for="nameFilter">Código</label>
                <input class="form-control " type="text" id="nameFilter" name="nameFilter" [(ngModel)]="activeFilters.code">
            </div>
            <div class="col-4">
                <label for="descFilter">Nombre</label>
                <input class="form-control " type="text" id="descFilter" name="descFilter" [(ngModel)]="activeFilters.name">
            </div>
        </div>
        <a class="btn btn-outline-primary my-2" (click)="filterList()">Filtrar</a>
    </form>
</div>
<div class="card mb-4 shadow">
    <div class="card-header" id="list-title">
        <i class="fas fa-building me-1"></i>
        Proveedores
    </div>
    <div class="card-body">
        <table class="table table-hover text-center align-middle " *ngIf="suppList.length!=0">
            <thead>
                <tr>
                    <th>Logo</th>
                    <th>Código <a (click)="sortListByCode('desc')"> <i class="fa fa-angle-down"></i></a> <a (click)="sortListByCode('asc')"> <i class="fa fa-angle-up"></i></a></th>
                    <th>Razón Social <a (click)="sortListByName('desc')"> <i class="fa fa-angle-down"></i></a> <a (click)="sortListByName('asc')"> <i class="fa fa-angle-up"></i></a></th>
                    <th>Región <a (click)="sortListByRegion('desc')"> <i class="fa fa-angle-down"></i></a> <a (click)="sortListByRegion('asc')"> <i class="fa fa-angle-up"></i></a></th>
                    <th>Contacto</th>
                    <th>Contacto Interno</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of suppList;index as i;">
                    <td><img src="{{item.logoImageUrl||defaultImage}}" alt="Logo {{item.name}}" style="height: 80px;"></td>
                    <td>{{item.code}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.state.name}},<br>
                        {{item.country.name}}
                    </td>
                    <td>
                        <button class="btn btn-sm btn-secondary m-1" placement="top" ngbTooltip="{{item.website}}">
                            <i class="fa fa-globe"></i>
                        </button>
                        <button class="btn btn-sm btn-secondary m-1" placement="top" ngbTooltip="{{item.email}}">
                            <i class="fa fa-envelope"></i>
                        </button>
                        <button class="btn btn-sm btn-secondary m-1" placement="top" ngbTooltip="{{item.phone}}">
                            <i class="fa fa-phone"></i>
                        </button>
                    </td>
                    <td>{{item.contactName}}
                        {{item.contactSurname}}<br>
                    </td>
                    <td>
                        <a class="btn btn-primary  me-2 btn-sm" routerLink="/proveedor/{{item.id}}"><i class="fas fa-eye"></i></a>
                        <a class="btn btn-secondary me-2 btn-sm" routerLink="/form-proveedores/{{item.id}}"><i class="fas fa-pencil"></i></a>
                        <a *ngIf="item.deletedAt!=null" class="btn btn-sm btn-success" (click)="undoDeleteListItem(item.id)"><i class="fas fa-undo"></i></a>
                        <a *ngIf="item.deletedAt==null" class="btn btn-sm btn-danger" (click)="deleteListItem(item.id)"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="alert alert-danger fw-bold text-center h5" *ngIf="suppList.length==0">Listado vacio, agregue un nuevo item.</div>
    </div>
</div>